<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>img</key>
		<string>btn_01</string>
		<key>title</key>
		<string>应用01</string>
	</dict>
	<dict>
		<key>img</key>
		<string>btn_01</string>
		<key>title</key>
		<string>应用02</string>
	</dict>
	<dict>
		<key>img</key>
		<string>btn_01</string>
		<key>title</key>
		<string>应用03</string>
	</dict>
	<dict>
		<key>img</key>
		<string>btn_01</string>
		<key>title</key>
		<string>应用04</string>
	</dict>
	<dict>
		<key>img</key>
		<string>btn_01</string>
		<key>title</key>
		<string>应用05</string>
	</dict>
	<dict>
		<key>img</key>
		<string>btn_01</string>
		<key>title</key>
		<string>应用06</string>
	</dict>
	<dict>
		<key>img</key>
		<string>btn_01</string>
		<key>title</key>
		<string>应用07</string>
	</dict>
	<dict>
		<key>img</key>
		<string>btn_01</string>
		<key>title</key>
		<string>应用08</string>
	</dict>
	<dict>
		<key>img</key>
		<string>btn_01</string>
		<key>title</key>
		<string>应用09</string>
	</dict>
	<dict>
		<key>img</key>
		<string>btn_01</string>
		<key>title</key>
		<string>应用10</string>
	</dict>
	<dict>
		<key>img</key>
		<string>btn_01</string>
		<key>title</key>
		<string>应用11</string>
	</dict>
	<dict>
		<key>img</key>
		<string>btn_01</string>
		<key>title</key>
		<string>应用12</string>
	</dict>
	<dict>
		<key>img</key>
		<string>btn_01</string>
		<key>title</key>
		<string>应用13</string>
	</dict>
	<dict>
		<key>img</key>
		<string>btn_01</string>
		<key>title</key>
		<string>应用14</string>
	</dict>
</array>
</plist>
