<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>header</key>
		<string>13121e12e12e12e21e12e12e12e12e12</string>
		<key>mems</key>
		<array>
			<dict>
				<key>title</key>
				<string>title11111111</string>
				<key>acclz</key>
				<string>UISwitch</string>
				<key>vc</key>
				<string>YFSettingCon</string>
				<key>pname</key>
				<string>subsetting</string>
				<key>subtitle</key>
				<string>eweqweqweqweqeqweawe</string>
				<key>cellstyle</key>
				<string>UITableViewCellStyleSubtitle</string>
			</dict>
			<dict>
				<key>title</key>
				<string>title11111111</string>
				<key>acclz</key>
				<string>UISwitch</string>
				<key>vc</key>
				<string>YFSettingCon</string>
				<key>pname</key>
				<string>subsetting</string>
				<key>subtitle</key>
				<string>eweqweqweqweqeqweawe</string>
				<key>cellstyle</key>
				<string>UITableViewCellStyleSubtitle</string>
			</dict>
			<dict>
				<key>title</key>
				<string>title11111111</string>
				<key>acclz</key>
				<string>UISwitch</string>
				<key>vc</key>
				<string>YFSettingCon</string>
				<key>pname</key>
				<string>subsetting</string>
				<key>subtitle</key>
				<string>eweqweqweqweqeqweawe</string>
				<key>cellstyle</key>
				<string>UITableViewCellStyleSubtitle</string>
			</dict>
			<dict>
				<key>title</key>
				<string>title11111111</string>
				<key>acclz</key>
				<string>UISwitch</string>
				<key>vc</key>
				<string>YFSettingCon</string>
				<key>pname</key>
				<string>subsetting</string>
				<key>subtitle</key>
				<string>eweqweqweqweqeqweawe</string>
				<key>cellstyle</key>
				<string>UITableViewCellStyleSubtitle</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
