<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>header</key>
		<string>13123</string>
		<key>mems</key>
		<array>
			<dict>
				<key>title</key>
				<string>werwrawre</string>
				<key>acclz</key>
				<string>UIImageView</string>
				<key>acimg</key>
				<string>arrow_right</string>
				<key>isRed</key>
				<true/>
				<key>subtitle</key>
				<string>oqjweijqiower</string>
				<key>cellstyle</key>
				<string>UITableViewCellStyleValue1</string>
			</dict>
			<dict>
				<key>title</key>
				<string>werwrawre</string>
				<key>acclz</key>
				<string>UIImageView</string>
				<key>acimg</key>
				<string>arrow_right</string>
				<key>isRed</key>
				<true/>
				<key>subtitle</key>
				<string>oqjweijqiower</string>
				<key>cellstyle</key>
				<string>UITableViewCellStyleValue1</string>
			</dict>
			<dict>
				<key>title</key>
				<string>werwrawre</string>
				<key>acclz</key>
				<string>UIImageView</string>
				<key>acimg</key>
				<string>arrow_right</string>
				<key>isRed</key>
				<true/>
				<key>subtitle</key>
				<string>oqjweijqiower</string>
				<key>cellstyle</key>
				<string>UITableViewCellStyleValue1</string>
			</dict>
			<dict>
				<key>title</key>
				<string>werwrawre</string>
				<key>acclz</key>
				<string>UIImageView</string>
				<key>acimg</key>
				<string>arrow_right</string>
				<key>isRed</key>
				<true/>
				<key>subtitle</key>
				<string>oqjweijqiower</string>
				<key>cellstyle</key>
				<string>UITableViewCellStyleValue1</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
