<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>header</key>
		<string>header1</string>
		<key>footer</key>
		<string>footer1</string>
		<key>mems</key>
		<array>
			<dict>
				<key>title</key>
				<string>直播xxxxx</string>
				<key>acclz</key>
				<string>UIImageView</string>
				<key>acimg</key>
				<string>arrow_right</string>
				<key>vc</key>
				<string>YFSettingCon</string>
				<key>pname</key>
				<string>live01</string>
			</dict>
			<dict>
				<key>img</key>
				<string>handShake</string>
				<key>title</key>
				<string>title11111111</string>
				<key>acclz</key>
				<string>UISwitch</string>
				<key>acimg</key>
				<string></string>
				<key>vc</key>
				<string>YFMainCon</string>
			</dict>
			<dict>
				<key>img</key>
				<string>handShake</string>
				<key>title</key>
				<string>title11111111</string>
				<key>vc</key>
				<string>YFSettingCon</string>
				<key>pname</key>
				<string>live02</string>
			</dict>
			<dict>
				<key>img</key>
				<string>handShake</string>
				<key>title</key>
				<string>title11111111</string>
				<key>vc</key>
				<string>YFPushCon</string>
				<key>pname</key>
				<string>live03</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
