<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>个人</string>
		<key>apps</key>
		<array>
			<dict>
				<key>desc</key>
				<string>pwdmodal</string>
				<key>class</key>
				<string>ViewController</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>pwdmodal</string>
				<key>class</key>
				<string>ViewController</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>pwdmodal</string>
				<key>class</key>
				<string>ViewController</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>pwdmodal</string>
				<key>class</key>
				<string>ViewController</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>个人</string>
		<key>apps</key>
		<array>
			<dict>
				<key>desc</key>
				<string>pwdmodal</string>
				<key>class</key>
				<string>ViewController</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>个人</string>
		<key>apps</key>
		<array>
			<dict>
				<key>desc</key>
				<string>pwdmodal</string>
				<key>class</key>
				<string>ViewController</string>
			</dict>
		</array>
	</dict>
	
</array>
</plist>
