.book-chapter {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: none;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    padding-bottom: 0.3em;
    page-break-before: always;
    position: relative;
    margin: 1em 0 16px;
    border-bottom: #eee solid 1px
    }
.calibre {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    padding-bottom: 0.3em;
    page-break-before: always;
    position: relative;
    margin: 1em 0 16px;
    border-bottom: #eee solid 1px
    }
.calibre2 {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    list-style-type: decimal;
    margin-bottom: 16px;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0
    }
.calibre3 {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: list-item
    }
.calibre4 {
    -moz-box-sizing: border-box;
    background: transparent;
    box-sizing: border-box;
    color: #4183c4;
    text-decoration: none
    }
.calibre5 {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    list-style-type: decimal;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0
    }
.calibre6 {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #777;
    display: block;
    margin: 0 0 16px;
    padding: 0 15px;
    border-left: #ddd solid 4px
    }
.calibre7 {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    margin: 0
    }
.calibre8 {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.43;
    position: relative;
    margin: 1em 0 16px
    }
.calibre9 {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    margin: 0 0 16px
    }
.calibre10 {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: bold
    }
.calibre11 {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: auto;
    max-width: 100%;
    page-break-inside: avoid;
    width: auto;
    border: currentColor none 0
    }
.calibre12 {
    -moz-box-sizing: border-box;
    background-color: #f7f7f7;
    border-radius: 3px;
    box-sizing: border-box;
    direction: ltr;
    display: block;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 0.75em;
    line-height: 1.45;
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: normal;
    margin: 0 0 16px;
    padding: 16px;
    border: currentColor none 0
    }
.calibre13 {
    -moz-box-sizing: border-box;
    background-color: #f7f7f7;
    border-radius: 3px;
    box-sizing: border-box;
    direction: ltr;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 0.75em;
    margin: 0;
    padding: 0.2em 0
    }
.calibre14 {
    -moz-box-sizing: border-box;
    background-color: #f7f7f7;
    border-radius: 3px;
    box-sizing: border-box;
    direction: ltr;
    display: block;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 0.75em;
    line-height: 1.45;
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: normal;
    margin: 0;
    padding: 16px;
    border: currentColor none 0
    }
.calibre15 {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    font-size: 1.83333em;
    font-weight: bold;
    line-height: 1.2;
    padding-bottom: 0.3em;
    page-break-before: always;
    position: relative;
    margin: 1em 0 16px;
    border-bottom: #eee solid 1px
    }
.calibre16 {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.43;
    position: relative;
    margin: 0 0 16px
    }
.calibre17 {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.4;
    position: relative;
    margin: 1em 0 16px
    }
.calibre18 {
    -moz-box-sizing: border-box;
    background-color: #f7f7f7;
    border-radius: 3px;
    box-sizing: border-box;
    direction: ltr;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 0.79412em;
    margin: 0;
    padding: 0.2em 0
    }
.calibre19 {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    list-style-type: disc;
    margin-bottom: 16px;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0
    }
.calibre20 {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    list-style-type: circle;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0
    }
.calibre21 {
    -moz-box-sizing: border-box;
    border-collapse: collapse;
    border-spacing: 0;
    box-sizing: border-box;
    display: block;
    margin-bottom: 16px;
    margin-top: 0;
    overflow: auto;
    text-indent: 0;
    width: 100%
    }
.calibre22 {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: table-header-group;
    vertical-align: middle
    }
.calibre23 {
    -moz-box-sizing: border-box;
    background-color: #fff;
    box-sizing: border-box;
    display: table-row;
    vertical-align: inherit;
    border-top: #ccc solid 1px
    }
.calibre24 {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: table-cell;
    font-weight: bold;
    vertical-align: inherit;
    padding: 6px 13px;
    border: #ddd solid 1px
    }
.calibre25 {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: table-row-group;
    vertical-align: middle
    }
.calibre26 {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: table-cell;
    text-align: inherit;
    vertical-align: inherit;
    padding: 6px 13px;
    border: #ddd solid 1px
    }
.calibre27 {
    -moz-box-sizing: border-box;
    background-color: #f8f8f8;
    box-sizing: border-box;
    display: table-row;
    vertical-align: inherit;
    border-top: #ccc solid 1px
    }
.hljs-func {
    -moz-box-sizing: border-box;
    box-sizing: border-box
    }
.hljs-function {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #4271ae
    }
.hljs-keyword {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #8959a8
    }
.hljs-params {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #f5871f
    }
.hljs-string {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #718c00
    }
.hljs-title {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #8e908c
    }
.hljs-variable {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #c82829
    }
.lang-swift {
    -moz-box-sizing: border-box;
    background: transparent;
    background-color: transparent;
    border-radius: 3px;
    box-sizing: border-box;
    direction: ltr;
    display: inline;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 1em;
    line-height: inherit;
    max-width: initial;
    overflow: initial;
    white-space: pre-wrap;
    word-wrap: normal;
    margin: 0;
    padding: 0;
    border: currentColor none 0
    }
.normal {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    margin-bottom: 0
    }
.page {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    color: #333;
    display: block;
    font-family: sans-serif;
    line-height: 1.6;
    overflow: hidden;
    word-wrap: break-word
    }
.pcalibre4:after {
    content: normal;
    letter-spacing: -0.2em
    }
.pcalibre6:after {
    content: " ";
    letter-spacing: -0.2em
    }
.pcalibre2:focus {
    text-decoration: underline
    }
.pcalibre3:before {
    content: normal;
    letter-spacing: -0.2em
    }
.pcalibre5:before {
    content: " ";
    letter-spacing: -0.2em
    }
.pcalibre1:hover {
    outline: 0;
    text-decoration: underline
    }
.pcalibre:active {
    outline: 0;
    text-decoration: underline
    }
