<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>梦见泥巴涂了自己的身体，将发生见辱于世间的事。</string>
		<key>title</key>
		<string>泥巴</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>梦见大风，吉兆，不久会有好消息。

梦见旋风，生活会幸福。</string>
		<key>title</key>
		<string>大风</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>梦中的惊涛骇浪，是风险与阻力的象征。

男性梦见惊涛骇浪，表明在投资上会出现风险。

女性梦见惊涛骇浪，表明工作上于遇到一定的阻力。</string>
		<key>title</key>
		<string>惊涛骇浪</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>梦见山崩海啸，山崩海啸，是波折或危机的象征。

梦中的山崩海啸，是内心过度痛苦的表现。

未婚男女梦见山崩海啸，表明恋情可能会出现大的波折。

已婚男女梦见山崩海啸，表明婚姻可能潜伏着大的危机。</string>
		<key>title</key>
		<string>山崩海啸</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>梦见天塌地陷，天塌地陷的梦，代表的是健康方面的问题。

梦中的天塌地陷，表明心中存在着嫉妒恐惧，而且又有些焦虑过度、心灰意冷。

梦见天塌地陷，表明自己或亲人可能会出现健康方面的问题。</string>
		<key>title</key>
		<string>天塌地陷</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>梦见狂风怒，吼狂风怒吼，是阻力与伤害的象征。

梦中的狂风怒吼，是内心之中困苦的一种表现。

男性梦见狂风怒吼，意味着会在工作中遇到较大的阻力。

女性梦见狂风怒吼，预示着会在感情上受到较深的伤害。</string>
		<key>title</key>
		<string>狂风怒吼</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>梦见瀑布表明将会如愿以偿，如职位升高、财富增多等。

如果瀑布平缓，表示生活稳步上升。</string>
		<key>title</key>
		<string>瀑布</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>梦见泥石流，意味着会有不可预料的灾难。

孕妇梦见泥石流，要注意肚里的孩子。

男人梦见泥石流，在事业发展道路上会遇到不可预料的困难。</string>
		<key>title</key>
		<string>泥石流</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>梦见耕地，是生活富有的预兆。

农民梦见耕地，会大丰收。

老人梦见耕地，不祥之兆，不久要去世。

梦见耕种不毛之地，会得到意外的钱财。

梦见耕地时，犁断了，会长期找不到工作。</string>
		<key>title</key>
		<string>耕地</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>梦见自己被雷劈，吉兆，会有好运。

病人梦见被雷劈，身体会很快康复。</string>
		<key>title</key>
		<string>被雷劈</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>梦见沿小路行进，这表明你终会获得你的需求并达到目的。

若你常常迷失道路，总是在梦中小心翼翼地寻找道路，那你必须藉此反省你的现实生活，看看自己是否常为某些无意义的琐事或不值得深交的朋友而处心积虑。</string>
		<key>title</key>
		<string>小路、小径</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>梦见涨水，吉兆，是发财的前兆。

梦见涨水淹没田地，预示着自己会遭受损失。</string>
		<key>title</key>
		<string>涨水</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>梦见自己升上高空，暗示你努力得来的成果，却没有福气享受。

年轻人梦见自己顺着天梯往上爬，表示他们会从低微的地位一步步升迁，而生活中却没有更多的快乐。

梦见在高空中遇见天神或朋友，表示你会遭受许多损失，日久你会渐渐想开的。</string>
		<key>title</key>
		<string>高空</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>梦见自己在雪地上滑倒，表示你想要行动的某件事情凶多吉少，关键时刻应该请几个好朋友帮助你。</string>
		<key>title</key>
		<string>雪地</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>梦见海上日出，暗示你辛勤的劳作将要结果，必定日后家业兴隆。

今后你将会好运连连，入学、就职、晋升、合格、当选、胜利等等，你迫切盼望的愿望即会一一得到实现。</string>
		<key>title</key>
		<string>海上日出</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>梦见雪山，如果是朝阳映照的雪山，表示你想结婚。

梦见山顶积雪，会产生令人担心的事，而且您将为它一直烦恼不已。</string>
		<key>title</key>
		<string>雪山</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>梦见小溪，生活幸福，衣食无忧。

梦见干涸的小溪，财产会受到损失。

农民梦见小溪，庄稼会丰收。</string>
		<key>title</key>
		<string>小溪</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>梦见攀登岩壁，在异性方面有偏爱冒险的可能。与偶然相识的异性，可能会出现冒险暖昧的场面。但最后一道防线绝对要坚守，如果被击破，好事就将变成坏事啦。

梦见站在巨大岩石之上，暗示你将广受别人的信赖。可以参加竞选班级代表或学生会主席等活动，保证你高票当选。

梦见巨大的岩石阻挡去路，健康状况会下降。对食物中毒、消化不良、痢疾等消化系统的疾病，要多加小心。

梦见把小石头向远方抛去，意外遇上熟人的可能性很大。地方嘛，最有可能的就是百货公司等地的化妆室中。

梦见爬登石阶，在爱情方面将很不如意。十之八九，将被目前追求的对象“三振出局”。但不要气馁喔，谈恋爱还伯没有对象吗？

梦见岩石在空中飞行，表示将遭受无端指责。在课堂中，坐在旁边的同学放出无声的瓦斯，结果你却被当做嫌犯等等情形。这时，千万不可默默无言，要毅然表白你的无辜。</string>
		<key>title</key>
		<string>岩石</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>梦见洪水，水泄如注，洪水成灾。

梦中的洪水，是灾祸降临的象征。

商人如见洪水泛滥，预示将被洪水冲走，生意上可能会有损失。

普通人梦见洪水，预示婚姻上会出现不愉快，或是身材上会出现疾病。

梦见自己从很远的地方赶去看洪水，意味着正在思索如何解决难题，而且已经有头绪了。

梦见自己掉在洪水里，意味着情感上会出现困惑。</string>
		<key>title</key>
		<string>洪水、发大水</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>梦见白昼，前途光明。

梦见晴天，生活安宁。

梦见阴天，会有不开心事情出现。</string>
		<key>title</key>
		<string>晴天</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>梦见海啸，预示着生活波动较大。

工作人员梦见海啸，职位会得到很大的波动。

商人梦见海啸，生意会很波折。</string>
		<key>title</key>
		<string>海啸</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>梦见刮风，吉兆，预示着自己的地位会得到改善。

工作人员梦见刮风，是升职的预兆。

病人梦见刮风，会很快康复。

犯人梦见刮风，会很快获得自由。</string>
		<key>title</key>
		<string>刮风</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>梦见金矿是失败的兆头，预设着生活或工作上会因为自己的不勤奋而失去一些本来能得到的东西。</string>
		<key>title</key>
		<string>金矿</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>梦见石油，象征着财富。

梦见自己挖掘油井开采石油，预示着收入会的大幅增加。

梦见自己点燃石油，预示着自己的财富会不断减少，会破产。</string>
		<key>title</key>
		<string>石油</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>梦见自己站在深渊的边缘，预示着工作上生活上压力会突然增加，要增强心理素质。

梦见自己掉入深渊，预示着将会有挫折出现在自己身上。</string>
		<key>title</key>
		<string>深渊</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>男人梦见自己一个人在大峡谷中里享乐，预示要生病或遇到困难。

女人梦见自己在峡谷里享乐，会与丈夫分居或发生不快。

男人梦见和妻子或情人在峡谷里享受自由自在，两人会发生矛盾。

梦见自己和敌人在峡谷里欢聚，会陷入困境。

梦见和别人在峡谷里吃喝玩乐，是祥兆，会一切顺利。</string>
		<key>title</key>
		<string>峡谷</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>梦见黑水或污水，预示着生活中将会有不开心的事情发生，如果身体感觉有异样应该及早去医院检查。

病人梦见污水横流，预示着病情有加重的趋势。</string>
		<key>title</key>
		<string>污水</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>梦见在水上走，是吉兆。

梦见站在水上不动，将有祸害发生。

梦见水流连绵不断，要结婚了。

梦见水中冒出火，大吉。

梦见自己走入水中，吉利。

梦见掉入水中没出来，是凶兆。

梦见不停地喝水，要发大财。

梦见水流在自己身上绕，要吃官司，有诉讼。

梦见水流很清很大，大吉，做事得心应手。

梦见江水海水上涨，大吉利，生意兴隆。</string>
		<key>title</key>
		<string>水</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>梦见海滩或在海边散步，预示着将会有开心的时期发生。

梦见金色的沙滩，预示着财运的增加，收入会越来越好。</string>
		<key>title</key>
		<string>海滩</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>梦见仙女在天空飞舞，会有好事发生，也许会有一笔巨款由亲戚方面得来。

梦见晴空万里，爱情会有进展。可以期待一场快乐的约会。最好选择公园、海边、野外等地为约会场所。

梦见吊在气球上升向天空，可能会发生交通事故。上下楼梯、横穿马路时，要特别小心。如果骑车或开车，那就得更加小心。

梦见自己高高在天空浮游，运势衰微。尤其健康方面令人得担心，有小病没有治好而变成大病的趋向……

梦见天马在天空飞奔，将万事如意。当然，爱情方面将很顺利。两人的心将更紧密地连在一起。

梦见天空阴暗，追求变化的心渐趋强烈，无法使心情静下来，也许会搞出新花样。但，轻举妄动总是不好，一定要三思而后行。

梦见拿着的钱飘在天空里，财运转坏。将会为意外的支出而烦恼，遇扒遇抢的可能性很大，要特别小心！

梦见爬上楼梯望天空，财运大展。会从始料未及的地方来一笔意外的收入。

梦见从天上跌下来，将有不顺心的事情发生。

梦见向天空升起，桃花运很浓的运势。也许会在路上遇到心目中的人对你微笑，或已经闹翻的情人要求重新交往等等。

梦见天裂开表示在工作或职场上将面临危机，可能被贬职、撤职或是解职等衰事，所以最近工作上可要加倍努力，免得梦境成真落得欲哭无泪的下场。</string>
		<key>title</key>
		<string>天空</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>梦见陨石坠落，预示着时运有减弱的趋势。

梦见陨石坠落对自己造成伤害，则是自己会因祸得福的吉兆。</string>
		<key>title</key>
		<string>陨石</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>梦见搬运泥土，表示吉运在户外。尤其在爱情方面特别突出。既然知道了，就把情人邀请到野外去吧！幸运将在那里等着你。

梦见在泥泞中行走，意昧着“冬去春不远”。烦恼事将很快解决，你的生活也将在健康、金钱、爱情等各方面，显得无比快乐。

梦见使用铁锹掘土，朋友之间可能会分裂。本来团结一致的一群好友，很可能会分裂为二。这时最重要的是你的态度，一定要努力设法使大家和睦相处。

梦见遁入泥土中，在金钱方面可能会有意外的收获。譬如说，喝了一杯三十元的咖啡，拿出一张五十元的钞票，服务小姐却找你七十元，使你反而多赚等等。这时，虽然不好意思，最好以感激的心情把它收起来。

梦见躺在泥土中，爱情方面出现停滞。你将深深体会到爱情的苦味，将有一段辗转难眠的日子。</string>
		<key>title</key>
		<string>泥土</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>梦见雪崩，会有大财出现，很有可能会得到巨款。

梦见冰雪融化的话，在现实中可能遇到不好的对象，对方可能不是真心对待自己，或者是存心玩玩而已。</string>
		<key>title</key>
		<string>雪崩</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>梦见沙漠，则会有难以言语的不安，预示着内心藏的事情须向别人表明。</string>
		<key>title</key>
		<string>沙漠</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>年轻女孩梦到流星雨，意味着爱情运的上升，心上人会对你越来越关心。

年轻男生梦到流星雨，意味着生活上将会出现新的发展机会和机遇，应该注意把握。</string>
		<key>title</key>
		<string>流星雨</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>孕妇梦见广阔的田野，会生女儿。</string>
		<key>title</key>
		<string>田野</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>梦见走下黑暗的洞穴，意味着染上恶习，最终会挥霍掉自己的财产。</string>
		<key>title</key>
		<string>洞穴</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>梦见荒地，不久将会遇到困难，需要及早做好准备。

梦见开荒，意味着困难来自家里，将出现口舌之争，会有争吵。

没有子女的夫妇梦见开荒，则意味着会生出不孝顺的孩子。

商人梦见荒地，意味着生意上会受到损失。</string>
		<key>title</key>
		<string>荒地</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>梦见壕沟，会遇到危险。</string>
		<key>title</key>
		<string>壕沟</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>男人梦见水蒸气，会被敌人击败。

女人梦见水蒸气，家庭会闹矛盾，最后导致四分五裂。

王女梦见水蒸气，是不祥之兆，人民会对自己极为不满，可能爆发暴乱。

病人梦见水蒸气，会长期卧床不起。

囚犯梦见水蒸气，因与监狱官员大吵大闹，会受到严厉的惩罚。

旅行者梦见蒸气，路上会遭到陌生人的袭击，一切努力会化为泡影。</string>
		<key>title</key>
		<string>水蒸气</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>男人梦见在山谷里享乐，预示要生病。

女人梦见在山谷里享乐，会与丈夫分居。

男人梦见和妻子或情人在山谷里享受自由自在，两人会分离。

梦见自己和敌人在山谷里欢聚，会陷入困境。

梦见别人在山谷里吃喝玩乐，是祥兆，会官运亨通。</string>
		<key>title</key>
		<string>山谷</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>梦见岛屿，会与朋友分离。

梦见自己的船沉没了，突然撞在一个荒岛上，生意兴隆，财源旺盛。

病人梦见被推下海，或爬上某个岛屿，不久会身强体壮。</string>
		<key>title</key>
		<string>岛屿</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>梦见温泉，身体健康。

梦见在温泉里洗澡，预示着要生病。

梦见有人从背后把自己推进温泉，意味着敌人会制造谋杀自己的阴谋。

已婚女子梦见在温泉里洗澡，会生一个漂亮的男孩。</string>
		<key>title</key>
		<string>温泉</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>梦见傍晚或黄昏，大难临头。</string>
		<key>title</key>
		<string>傍晚、黄昏</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>梦见漩涡，婚后生活美满。

梦见自己被卷进漩涡，会遭灾难。</string>
		<key>title</key>
		<string>漩涡</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>梦见地震是祥兆。

但是梦见地震过后，房屋倒塌，家里会发生争吵，家人得病，整天得不到安宁。

梦见长时间观看地震，事业或生意有好转。

大学教师梦见地震，会由于成果卓著而举世闻名。</string>
		<key>title</key>
		<string>地震</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>梦见有很多尘土，能得到好处。

梦见扫除尘土，意味着名声扫地。

梦见在尘土里打滚，会家贫如洗。</string>
		<key>title</key>
		<string>尘土</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>梦见露水，幸福降临，生活安宁。

病人梦见露水打湿了衣服，会卧床不起。</string>
		<key>title</key>
		<string>露水</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>梦见白昼，前途光明。

梦见晴天，生活安宁。

梦见阴天，会有痛苦。</string>
		<key>title</key>
		<string>白昼、白天</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>梦见雾，会受朋友骗。

梦见雾散了，痛苦很快会过去，最后会取得胜利。

官员梦见雾，上司会不满意自己因而职务被解除。</string>
		<key>title</key>
		<string>雾</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>梦见下冰雹，生意肯定要受到损失。

梦见被冰雹砸伤，灾祸即将临头。

孕妇梦见被冰雹砸伤，生下的孩子会受苦受难。

少妇梦见被冰雹砸伤，是吉兆。</string>
		<key>title</key>
		<string>冰雹</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>梦见海岸，表示将因为不受他人谅解而难过，还有就是对于穿着又重又湿的衣服感到难受。</string>
		<key>title</key>
		<string>海岸</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>彗星又称扫把星，一直是厄运的代名词。

它的核心发散出常常的尾巴，象征着人凭借自己的执着，造成不堪设想的后果和难以估量的不良影响。

梦见彗星，意味着自己所热衷的事情，将会带来长久的厄运。

及时停下来反思自己，才是正路。</string>
		<key>title</key>
		<string>彗星</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>月夜安宁静谧，是生活愉快的象征。

梦见月夜，意味着生活如意、轻松。

如果夜空中没有月亮，就成了困难的象征。

女人梦见黑夜中没有月亮，意味着在家庭生活中力不从心，难以讨好丈夫，应该向丈夫坦率承认自己的缺点和不足，放下骄傲和虚荣。</string>
		<key>title</key>
		<string>月夜</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>山代表目标、眼前问题的象征。

险峻绵延的山为男性性器官的象征，表示你对性怀抱着浓厚的兴趣。

缓坡的山为女性乳房的象征，表示你和母亲或同性友人的感情很好。

梦见雪山，如果是朝阳映照的雪山，表示你想结婚。

梦见在山里遭男人或蛇袭击的话，振示你想藉由性爱来纾解心中的欲求。

梦见爬山代表对问题的克服，若爬不上去则是努力的方法错误。

梦见下山表示，如地位高者，人生走下坡；地位低者，则有机会出人头地。

站在山顶，表示在人生的高峰，但若因而自满，则将走下坡。

山中有云雾，目标的完成还有距离，须耐心等候。

山崩表示会有疾病的发生。</string>
		<key>title</key>
		<string>山</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>梦走进野地、灌木丛，表示你抛开你现在的心态或生活，进入了这样一个状态，在这个状态里，什么事都是可能的，自己必须做出选择。如果是这样，你的潜意识在召唤你进入一个发展的新阶段。

野地如果很荒凉，象征着你的情感生活很孤寂。</string>
		<key>title</key>
		<string>野地、灌木丛</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>梦见孤岛将有好事发生。

如果岛上绿树成林，生意盎然，表示你的愿望将可实现。</string>
		<key>title</key>
		<string>岛</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>梦见从污泥或泥潭中通过，会遇到危险和不幸。

梦见泥潭（或污泥），会避免重大危险。

梦见陷入泥潭，会卧床不起。

梦见往污泥里扔石头，会与部下发生争吵，名誉受损。

梦见浑身沾满污泥，象征着身体强壮。

已婚女人走到污泥里，会被世俗锁事而纠缠。</string>
		<key>title</key>
		<string>污泥</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>梦见云彩，是厄兆。

梦见云彩被风吹散，天空晴朗，灾难会很快消除，并一去不复返。

梦见太阳附近有云彩，是吉兆，意味着在贵人的帮助下能摆脱困境。

梦见白云，自己和邻居的庄稼会获丰收。

梦见彩云，邻居会发生流血事件，或敌人侵犯国土。

梦见在云彩里飞翔，会成为居住区的领袖。

梦见在平原上乌云涌起，自我主张太强烈的征候。小心不要因此而遭受朋友们的联合排斥，尤其要注意你的言行。

梦见天空忽然乌云密布，在健康方面有阴影。尤其要注意消化系统的疾病。在回家的路上不要再吃汉堡、红豆汤等零食。</string>
		<key>title</key>
		<string>云彩、白云、乌云</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>梦见月食，预示主要亲人，特别是家庭的女性成员要生病或死亡。

梦见日食，会丧失生活能力，经济还会受到损失。

女人梦见月半食，已婚的女儿要归天。

女人梦见日半食，意味着儿子生病或丈夫的经济来源减少。

梦见出现月食或日食，天上布满乌云，身陷困境时，会得到朋友的帮助。</string>
		<key>title</key>
		<string>月食、日食</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>梦见月亮，一切会顺心如意。

梦见圆月，要发财，得贵子。

男人梦见明亮的月光倾洒在地球上，钱财会被遮盖，要出事故。

孕妇梦见满月，会生一个漂亮的男孩子。

船员梦见残月，会遭不幸，航海时肯定要出事。

未婚男子梦见新月，情侣会抛弃自己，因为思想苦闷，常常失眠。

少女梦见半月是不祥之兆。

病人梦见满月，身体很快会康复。</string>
		<key>title</key>
		<string>月亮</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>梦见下大雨，事业会遇到障碍，梦见狂风暴雨，所从事的工作会有好收入。

女人梦见狂风暴雨，家里会遇到困难。

与妻子和情人分离的男人梦见下大雨，会与她们长期分离。

农民梦见下大雨，是祥瑞，会喜获丰收。

但是商人梦见下雨，生意会亏损。

病人梦见下雨，会卧床不起。

旅游者梦见下雨，旅行会圆满结束。</string>
		<key>title</key>
		<string>下雨、下大雨</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>梦见有月光的夜晚，是愉快的象征。

已婚女人梦见无月亮之夜，想疼爱丈夫，却力不从心。

未婚男子梦见月光之夜，是祥瑞。

梦见夜晚很快过去了，会身强体壮，精神焕发。

病人梦见黑夜很快结束了，不久病体会康复。</string>
		<key>title</key>
		<string>夜晚、黑夜</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>梦见黑夜里闪亮星星，要交好运。

已婚女人梦见夜晚闪烁的星星，夫妻生活会幸福。

未婚女子梦见黑夜里天空闪亮的星星，不论走到哪里，都会有很多支持者。

病人梦见夜晚里闪烁的星星，不久会恢复健康。

梦见月光之夜里闪烁的星星，能降服敌人。

梦见夜晚闪亮的星星被乌云遮住，会生病。

梦见流星，会生病或遭厄运。</string>
		<key>title</key>
		<string>星星</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>男人梦见下雪，会富有。

女人梦见下雪，一切忧愁都会消失。

病人梦见下雪，不久能恢复健康。

商人梦见下雪，要到一个很远的国家去做生意。

山区人梦见下雪，会离开住地搬到远处的城镇去住。</string>
		<key>title</key>
		<string>下雪、下大雪</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>梦见有月光的夜晚，是愉快的象征。

已婚女人梦见无月亮之夜，想疼爱丈夫，却力不从心。

未婚男子梦见月光之夜，是祥瑞。

梦见夜晚很快过去了，会身强体壮，精神焕发。

病人梦见黑夜很快结束了，不久病体会康复。</string>
		<key>title</key>
		<string>天象</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>男子梦见朝阳，要交好运，生活会幸福。

女人梦见朝阳，要生一个男孩，孩子长大后会成为一位杰出的人物。

男人梦见夕阳，要遭厄运。

已婚女子梦见夕阳，会生一个女孩。

未婚女子梦见夕阳，要嫁给一个穷苦人家。

梦见正午的太阳，会被提升。

病人梦见正午的太阳，不久身体会康复。

梦见太阳突然被乌云遮住，倒霉的日子要来到。

梦见阳光洒落在自己的床铺上，不是好兆头，意味着要生病。

梦见住房里洒满阳光，生活会幸福、愉快。

梦见骄阳似火，会患眼疾。

商人梦见烈日，生意会亏损。

旅游者梦见烈日，途中会遇到很多困难和事故。

梦见在骄阳下睡觉，会身陷困境，但是最后能取得成功。</string>
		<key>title</key>
		<string>太阳</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>梦见水灾，要来钱。

梦见罕见的水灾，会遭敌人反击。

已婚女子梦见水灾，要忍受子宫疾病的折磨。

男性老年人梦见水灾，会平静离开人世。

未婚姑娘梦见发生水灾，父母会同意她与心上人结婚。</string>
		<key>title</key>
		<string>水灾</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>梦见十分耀眼的闪电，要去外国旅行。

梦见远处雷打电闪，要遭受损失和不幸。

学生梦见打雷闪电，是祥兆，能取得优异的考试成绩。

少女梦见打雷闪电是吉兆，会嫁到一个有名望的家庭。

男性病人梦见打雷闪电，身体会复原。

梦见雷电过后，四周一片漆黑，意味着灾难临头，灾祸有可能落到做梦人的头上也可能降到受自己保护的人头上。

梦见不时闪电，看不清道路，只好摸黑走路，会击败对手，度过难关和不幸。

梦见差一点儿被雷电击伤，灾难可以避免。

梦见外出时，晴天打雷，要想提升，困难重重。

农民梦见闪电，要发生旱灾和饥荒。</string>
		<key>title</key>
		<string>闪电</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>男人梦见龙卷风，能找到失散的朋友。

女人梦见龙卷风，女客人会登门。

病人梦见龙卷风，病情会更加恶化。

囚犯梦见龙卷风，不久会与亲戚见面。

商人梦见龙卷风，生意会突然受到挫折。

旅游者梦见龙卷风，会安全地归来。</string>
		<key>title</key>
		<string>龙卷风</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>梦见雷雨大作，事业会成功。

已婚女子梦见暴雨雷鸣，会更爱自己的丈夫。

未婚女子梦见大雨瓢泼、雷声轰鸣，会嫁给有名望的人。

商人梦见雷声大作，会发大财。

病人梦见大雨瓢泼、雷声轰鸣，身体很快会康复。

犯人梦见暴雨雷鸣，不久会出狱。</string>
		<key>title</key>
		<string>雷雨、打雷声</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>病人梦见呼吸到清新的空气，疾病会霍然而愈，但是梦见呼吸污浊的空气，将要忍受不幸和痛苦。</string>
		<key>title</key>
		<string>空气</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>梦见寒风凛冽，侵入肌骨，不久会有好消息。

已婚女人梦见刮寒风，冻得身体直哆嗦，很快要应邀回娘家。

梦见刮起湿风，会有贵客登门。

已婚女人梦见刮湿风，很快要怀孕。

梦见刮来阵阵热风，要生病。

梦见清风徐徐，会交好运。

梦见刮污风，会遭到痛苦和不幸。

呼吸到薰风，意味旅行平安、成功。

商人梦见呼吸到香风，是生意获利的吉兆。</string>
		<key>title</key>
		<string>风</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>已婚男子梦见彩虹，是祥兆，生活会幸福，充满爱情。

已婚女人梦见彩虹，会与丈夫长期分离。

未婚男子梦见彩虹，不久就要结婚。

未婚女子梦见彩虹，会嫁给一位聪明能干体贴自己的丈夫。

热恋中的男子梦见彩虹，是吉兆，会与恋人相处得很幸福。

离开家的人梦见彩虹，不久要回家，与妻子和孩子团聚。

病人梦见彩虹，身体很快康复。

犯人梦见彩虹，健康会每况愈下，体重减少。

士兵梦见彩虹，不久会上前线，参加激烈的战斗。

农民梦见彩虹是吉兆，能获大丰收。

商人梦见彩虹，是不祥之兆，生意会亏损。

旅游者梦见彩虹，自己的目标一定能实现。

流亡者梦见彩虹，会很快回到自己的祖国。

梦见半截彩虹，灾祸会临头。</string>
		<key>title</key>
		<string>彩虹</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>梦见冰，会得到别人的支持。

女人梦见得到了冰，家境会富裕。

姑娘梦见冰，会找到一位称心如意的对象。

学生梦见得到冰，考试会取得优异的成绩。

梦见冰溶化了，会失去支持者。

小伙子梦见得到冰，恋人会和他同心同德，对他忠贞不谕。

商人梦见得到冰，生意会兴旺。

农民梦见得到冰，庄稼会丰收。

商人梦见在滑冰，生意会萧条。

小伙子梦见滑冰，恋人会朝三暮四，最终会抛弃自己。

士兵梦见滑冰，会有生命危险，也许会阵亡。</string>
		<key>title</key>
		<string>冰</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>梦见暴风雨来临，会得到意外的收获。

已婚女子梦见暴风雨来了，生活丰裕，儿女成行，丈夫的收入会巨增。

未婚女子梦见暴风雨，婚姻会自主，能与有钱人结为伉俪。

未婚男子梦见暴风雨，会娶殷实之家的姑娘为妻，生活也会富裕。

商人梦见暴风雨，会设法推销产品，发大财。

病人梦见暴风雨，身体很快会康复。

旅游者梦见暴风雨，旅行会愉快。

相反梦到呼吸到污浊的空气，会大难临头。

病人梦见呼吸到清新的空气，疾病会霍然而愈，但是梦见呼吸污浊的空气，将要忍受不幸和痛苦。</string>
		<key>title</key>
		<string>暴风雨</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>梦见悬崖，生命和财产都会受到严重的威胁。

梦见站在悬崖边上，灾难会降临在自己和家人的头上。

梦见从悬崖上掉下来，生意会倒闭。

已婚女人梦见自己从悬崖上掉下来，会被丈夫看不起。

青年男女梦见从悬崖上掉下来，是不祥之兆，至交的竟会失败。

商人梦见从悬崖上跌落下来，生意会突然受到冲击。

病人梦见从悬崖上跌落下来，处境艰难。

老人梦见从悬崖上掉下来，孩子会溘然而逝。

工作人员梦见掉在悬崖下，会有被解雇的危险，或被辞退。

梦见陌生人从悬崖上跌落下来，能治服自己的仇敌，但是会与自己的支持者分道扬镳。

梦见妻子从悬崖上掉下来，妻子会更加体贴自己。

梦见有人把自己从悬崖上推下去，会遭人暗算，有可能丧生。</string>
		<key>title</key>
		<string>悬崖</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>男青年梦见得到一块捐献的土地，会娶一位绰约多姿的姑娘为妻。

已婚男子梦见得到一块捐献的土地，妻子会给他带来很多财产。

已婚女人也做了同样的梦，生活会富裕。

梦见自己的田地阡陌，一眼望不到边，生活会富有幸福。

梦见黑色的土地，生意会亏损。

梦见长着庄稼的土地，要发大财。

梦见耕种土地，庄稼会获丰收。

梦见买地，身体强壮。

梦见卖地，忍饥挨饿。</string>
		<key>title</key>
		<string>土地</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>梦见买地，能找到一位贤慧美貌的妻子，或生意兴隆。

梦见卖地，家境会一团糟，挨饥受饿。

梦见田地、牲畜和家具，一切努力都会成功。

梦见农机具和田地，出洋过海做生意，能赚大钱。

梦见未种庄稼的闲田，会遇到困难。

梦见庄稼田，生活会富裕。

梦见种闲田，家里要吵架，或与别人发生争吵。

准备结婚的男女青年梦见种闲田，婚事会遇到麻烦。

无子女的夫妇梦见种不毛之地，会生一个又丑又懒的后代。

商人梦见不毛之地，生意要亏本。

梦见被雨水淹没的田地，水灾会给自己带来损失。

梦见很多农民在田间耕作，要做大生意，由于能善于经营，会赚大钱。

梦见稻田，要发财。

梦见大麦田，延年益寿；子孙满堂。

梦见女人在田里干活，要生病。</string>
		<key>title</key>
		<string>田地</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>梦见石头生活艰苦。

女人梦见石头，会得胃病。

梦见黑石头，敌人会阴谋反对自己。

梦见白石头，很难处理好家产的分配。

梦见用头搬运石头，能很好地履行肩负的责任。

梦见砸石头，是吉兆，艰苦奋斗，能有所获。

梦见用石头打人，大难会临头。

梦见别人用石头打自己，会远近闻名。

梦见在石头上行走，生活会舒适。

囚犯梦见在石头上行走，很快会被释放出狱。</string>
		<key>title</key>
		<string>石头</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>男人梦见成堆的沙子，困难会纷至沓来。

女人梦见成堆的沙子，会怀孕。

梦见在沙子上行走，意味着要搬家。

梦见用头搬运沙子，会身负重任。

梦见有人向自己的头上抛撒沙子，会上朋友的当。</string>
		<key>title</key>
		<string>沙子</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>梦见泉水，生活美。

梦见在泉水里洗澡，做梦者会挺而走险。</string>
		<key>title</key>
		<string>泉水</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>男人梦见火山爆发，由于自己的目的未能达到，所以会心灰意冷。

女人梦见火山爆发，会旧病复发，人命危浅。

病人梦见火山爆发，恢复健康有希望。

囚犯梦见火山爆发，企图越狱，将是徒劳的。

商人梦见火山爆发，会遇到强手，经济会遭受损失。

梦见死火山，能交上新朋友。

梦见在火山下面行走，工作不稳定。</string>
		<key>title</key>
		<string>火山</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>男人梦见有很多水的湖泊，家畜增多。

女人梦见水多的湖泊，身体康健，儿女成行。

梦见干涸的湖泊，要遭饥荒，病魔缠身。

梦见浅湖，灾祸会临头。

梦见深湖，能战胜敌人。

离开家的人梦见蓄满水的湖，能发财，会凯旋而归。

商人梦见盛满水的湖，能发大财。

梦见往湖里灌水，会受人们的爱戴。

梦见排放湖里的水，会对家人的病长期忧心忡忡。

梦见在湖里游泳，是不祥兆，日子会过得紧巴巴。

梦见沉入湖里，意味着受损和生病。

梦见从湖里挖泥，能继承遗产。

妇人梦见在湖里洗澡，能找到一位体贴入微的丈夫。

男人梦见在湖里洗澡，能找到一位贤慧的妻子。

梦见水多的湖泊，是成功的先兆。

梦见臭水湖，要生病。

梦见在湖里游泳，生意萧条。

梦见阴天在湖边野餐，生活会安宁、幸福。</string>
		<key>title</key>
		<string>湖泊</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>梦见河流意味着幸福、富有。

女人梦见河流，会接到父母的邀请回娘家。

农民梦见河里发了洪水，庄稼丰收。

梦见干涸的河，会受到损失。

旅游者梦见退了潮的河，前进的道路上会有很多障碍。

梦见过河，一切顺心如意，捷报频传。

囚犯梦见过河，不久会出狱。

商人梦见过河，能转亏为盈。

男人梦见在河里潜水，身体会健壮。

女人梦见潜水，会生男孩。</string>
		<key>title</key>
		<string>河流、河水</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>男人梦见海洋，不久会有令人振奋的消息。

女人梦见海洋，随着家里人的增长，肩上的担子也会越来越沉重。

商人梦见海洋，生意兴旺，遍布各地。

梦见海涨潮，或者起风暴，困难会堆积如山。

梦见自己站在海岸上，生活会有不幸。

病人梦见站在海岸上，病情会严重、恶化。

学生梦见站在海岸上，考试会不及格。

失业者梦见站在海岸上，会有多次就业机会，但是因为不能胜任，一切努力是徒劳的。</string>
		<key>title</key>
		<string>海洋、大海</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>梦见地球和其它星球围绕着太阳运转，是祥兆，身体健康长寿。

梦见大地破裂或有裂缝，国家大部分地区要受灾，霍乱流行。

梦见自己周围的大地伏起，会突然被提升。</string>
		<key>title</key>
		<string>地球</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>男人梦见光秃秃的地带，健康会每况愈下。

女人梦见不毛的地带，不久要分娩。

病人梦见光秃秃的地带，会长期卧床不起。

梦见别人的区域，事业会成功。

梦见敌人的区域，能征服敌人。

梦见妻子的领地，夫妻会恩爱如初。</string>
		<key>title</key>
		<string>地带</string>
	</dict>
	<dict>
		<key>category</key>
		<string>自然类</string>
		<key>desc</key>
		<string>男人梦见大水库，会富有。

女人梦见大水库，夫妻生活幸福，白头偕老。

未婚女子梦见大水库，会嫁给一位十分富有的男子。

未婚男子梦见大水库，会娶一位品行端正、称心如意的女子为妻。

商人梦见大水库，捷报会频传。

男人梦见在水库里潜水，会身强力壮。

女人梦见在水库里潜水，意味着要怀孕。

热恋中的男子梦见和恋人一块在水库里潜水，两人都会很幸福。

商人梦见在水库里洗澡，不久的将来，会做一宗大买卖。

梦见修水库，会名声大噪。

梦见往水库里放水，是不祥之兆，会饔飧不继。

但是梦见排入水库里的水，会成为大机构的负责人。

梦见干涸的水库，会生病。

梦见水库里盛满牛奶，儿女会成行。</string>
		<key>title</key>
		<string>水库</string>
	</dict>
</array>
</plist>
