<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Item0</key>
	<dict>
		<key>Site0</key>
		<dict>
			<key>siteLink</key>
			<string>mms://live.ahradio.com.cn/xwgb</string>
			<key>siteLogoName</key>
			<string>wfmu</string>
			<key>siteName</key>
			<string>WFMU</string>
		</dict>
		<key>Site1</key>
		<dict>
			<key>siteLink</key>
			<string>mms://alive.bjradio.com.cn/fm1006</string>
			<key>siteLogoName</key>
			<string>wilv</string>
			<key>siteName</key>
			<string>WILV</string>
		</dict>
		<key>Site2</key>
		<dict>
			<key>siteLink</key>
			<string>mms://58.48.156.93/1179</string>
			<key>siteLogoName</key>
			<string>wdve-fm</string>
			<key>siteName</key>
			<string>WDVE FM</string>
		</dict>
		<key>Site3</key>
		<dict>
			<key>siteLink</key>
			<string>http://2943.live.streamtheworld.com:8000/KFLXFMAAC_SC</string>
			<key>siteLogoName</key>
			<string>kflx</string>
			<key>siteName</key>
			<string>KFLX</string>
		</dict>
		<key>Site4</key>
		<dict>
			<key>siteLink</key>
			<string>http://edgev1.den.echo.liquidcompass.net/WDRVFMAAC?ats=1</string>
			<key>siteLogoName</key>
			<string>wdrv</string>
			<key>siteName</key>
			<string>WDRV</string>
		</dict>
		<key>Site5</key>
		<dict>
			<key>siteLink</key>
			<string>http://edgev1.den.echo.liquidcompass.net/KSWDFMAAC?ats=1</string>
			<key>siteLogoName</key>
			<string>kswd</string>
			<key>siteName</key>
			<string>KSWD</string>
		</dict>
		<key>Site6</key>
		<dict>
			<key>siteLink</key>
			<string>http://listen.radionomy.com/armageddon</string>
			<key>siteLogoName</key>
			<string>armageddon</string>
			<key>siteName</key>
			<string>Armageddon</string>
		</dict>
		<key>Site7</key>
		<dict>
			<key>siteLink</key>
			<string>http://listen.radionomy.com/rtfm</string>
			<key>siteLogoName</key>
			<string>rtfm</string>
			<key>siteName</key>
			<string>RTFM</string>
		</dict>
		<key>Site8</key>
		<dict>
			<key>siteLink</key>
			<string>http://listen.radionomy.com/alternate-usa</string>
			<key>siteLogoName</key>
			<string>alternate-usa</string>
			<key>siteName</key>
			<string>Alternate - USA</string>
		</dict>
		<key>Site9</key>
		<dict>
			<key>siteLink</key>
			<string>http://listen.radionomy.com/a-rock-fm-web</string>
			<key>siteLogoName</key>
			<string>a-rock-fm</string>
			<key>siteName</key>
			<string>A Rock FM</string>
		</dict>
		<key>categoryName</key>
		<string>Rock</string>
	</dict>
	<key>Item1</key>
	<dict>
		<key>Site0</key>
		<dict>
			<key>siteLink</key>
			<string>http://listen.radionomy.com/EnjoyStation</string>
			<key>siteLogoName</key>
			<string>enjoy-station</string>
			<key>siteName</key>
			<string>EnjoyStation</string>
		</dict>
		<key>Site1</key>
		<dict>
			<key>siteLink</key>
			<string>http://listen.radionomy.com/radio-nostalgia</string>
			<key>siteLogoName</key>
			<string>radio-nostalgia</string>
			<key>siteName</key>
			<string>Radio Nostalgia</string>
		</dict>
		<key>Site2</key>
		<dict>
			<key>siteLink</key>
			<string>http://listen.radionomy.com/abc-love</string>
			<key>siteLogoName</key>
			<string>abc-love</string>
			<key>siteName</key>
			<string>ABC love</string>
		</dict>
		<key>Site3</key>
		<dict>
			<key>siteLink</key>
			<string>http://listen.radionomy.com/americantop40</string>
			<key>siteLogoName</key>
			<string>americantop40</string>
			<key>siteName</key>
			<string>American Top40</string>
		</dict>
		<key>Site4</key>
		<dict>
			<key>siteLink</key>
			<string>http://listen.radionomy.com/feelingfloyd</string>
			<key>siteLogoName</key>
			<string>feeling-floyd</string>
			<key>siteName</key>
			<string>Feeling Floyd</string>
		</dict>
		<key>Site5</key>
		<dict>
			<key>siteLink</key>
			<string>http://listen.radionomy.com/w-26-radio</string>
			<key>siteLogoName</key>
			<string>w-26-radio</string>
			<key>siteName</key>
			<string>W26 Radio</string>
		</dict>
		<key>Site6</key>
		<dict>
			<key>siteLink</key>
			<string>http://listen.radionomy.com/city-pop-radio</string>
			<key>siteLogoName</key>
			<string>city-pop-radio</string>
			<key>siteName</key>
			<string>City Pop Radio</string>
		</dict>
		<key>Site7</key>
		<dict>
			<key>siteLink</key>
			<string>http://listen.radionomy.com/a-pop40-fm-web</string>
			<key>siteLogoName</key>
			<string>a-pop-40-fm</string>
			<key>siteName</key>
			<string>A POP 40FM</string>
		</dict>
		<key>Site8</key>
		<dict>
			<key>siteLink</key>
			<string>http://listen.radionomy.com/cool-hits</string>
			<key>siteLogoName</key>
			<string>cool-hits</string>
			<key>siteName</key>
			<string>Cool Hits</string>
		</dict>
		<key>Site9</key>
		<dict>
			<key>siteLink</key>
			<string>http://listen.radionomy.com/abcd-hits</string>
			<key>siteLogoName</key>
			<string>abcd-hits</string>
			<key>siteName</key>
			<string>ABCD Hits</string>
		</dict>
		<key>categoryName</key>
		<string>Pop</string>
	</dict>
	<key>Item2</key>
	<dict>
		<key>Site0</key>
		<dict>
			<key>siteLink</key>
			<string>http://listen.radionomy.com/air-lounge</string>
			<key>siteLogoName</key>
			<string>air-longue</string>
			<key>siteName</key>
			<string>Air Lounge</string>
		</dict>
		<key>Site1</key>
		<dict>
			<key>siteLink</key>
			<string>http://listen.radionomy.com/abc-dance</string>
			<key>siteLogoName</key>
			<string>abc-dance</string>
			<key>siteName</key>
			<string>ABC Dance</string>
		</dict>
		<key>Site2</key>
		<dict>
			<key>siteLink</key>
			<string>http://listen.radionomy.com/this-is-house</string>
			<key>siteLogoName</key>
			<string>this-is-house</string>
			<key>siteName</key>
			<string>This is House</string>
		</dict>
		<key>Site3</key>
		<dict>
			<key>siteLink</key>
			<string>http://listen.radionomy.com/club-dance</string>
			<key>siteLogoName</key>
			<string>club-dance</string>
			<key>siteName</key>
			<string>Club &amp; Dance</string>
		</dict>
		<key>Site4</key>
		<dict>
			<key>siteLink</key>
			<string>http://listen.radionomy.com/all-dance-radio</string>
			<key>siteLogoName</key>
			<string>all-dance-radio</string>
			<key>siteName</key>
			<string>All Dance Radio</string>
		</dict>
		<key>Site5</key>
		<dict>
			<key>siteLink</key>
			<string>http://listen.radionomy.com/dubsideradio</string>
			<key>siteLogoName</key>
			<string>dubsideradio</string>
			<key>siteName</key>
			<string>Dubside Radio</string>
		</dict>
		<key>Site6</key>
		<dict>
			<key>siteLink</key>
			<string>http://listen.radionomy.com/100-djay</string>
			<key>siteLogoName</key>
			<string>100-djay</string>
			<key>siteName</key>
			<string>100 DJAY</string>
		</dict>
		<key>Site7</key>
		<dict>
			<key>siteLink</key>
			<string>http://listen.radionomy.com/kosmik-station</string>
			<key>siteLogoName</key>
			<string>kosmik-station</string>
			<key>siteName</key>
			<string>Kosmik Station</string>
		</dict>
		<key>Site8</key>
		<dict>
			<key>siteLink</key>
			<string>http://listen.radionomy.com/the-hardest-hard</string>
			<key>siteLogoName</key>
			<string>the-hardest-hard</string>
			<key>siteName</key>
			<string>The Hardest Hard</string>
		</dict>
		<key>Site9</key>
		<dict>
			<key>siteLink</key>
			<string>http://listen.radionomy.com/bassfreq--radio</string>
			<key>siteLogoName</key>
			<string>bassfreq-radio</string>
			<key>siteName</key>
			<string>Bassfreq&apos; Radio</string>
		</dict>
		<key>categoryName</key>
		<string>Electronic</string>
	</dict>
	<key>Item3</key>
	<dict>
		<key>Site0</key>
		<dict>
			<key>siteLink</key>
			<string>http://listen.radionomy.com/one-love-hip-hop-radio</string>
			<key>siteLogoName</key>
			<string></string>
			<key>siteName</key>
			<string>One Love Hip Hop Radio</string>
		</dict>
		<key>Site1</key>
		<dict>
			<key>siteLink</key>
			<string>http://listen.radionomy.com/bbbeatz</string>
			<key>siteLogoName</key>
			<string></string>
			<key>siteName</key>
			<string>BbBeatz</string>
		</dict>
		<key>Site2</key>
		<dict>
			<key>siteLink</key>
			<string>http://listen.radionomy.com/a-rap-fm-web</string>
			<key>siteLogoName</key>
			<string></string>
			<key>siteName</key>
			<string>A RAP FM WEB</string>
		</dict>
		<key>Site3</key>
		<dict>
			<key>siteLink</key>
			<string>http://listen.radionomy.com/blakmusicfirst</string>
			<key>siteLogoName</key>
			<string></string>
			<key>siteName</key>
			<string>Blak Music First</string>
		</dict>
		<key>Site4</key>
		<dict>
			<key>siteLink</key>
			<string>http://listen.radionomy.com/doncardo</string>
			<key>siteLogoName</key>
			<string></string>
			<key>siteName</key>
			<string>Doncardo</string>
		</dict>
		<key>Site5</key>
		<dict>
			<key>siteLink</key>
			<string>http://listen.radionomy.com/eos-fans-radio</string>
			<key>siteLogoName</key>
			<string></string>
			<key>siteName</key>
			<string>EoS Fans Radio</string>
		</dict>
		<key>Site6</key>
		<dict>
			<key>siteLink</key>
			<string>http://listen.radionomy.com/h2mc</string>
			<key>siteLogoName</key>
			<string></string>
			<key>siteName</key>
			<string>H2MC</string>
		</dict>
		<key>Site7</key>
		<dict>
			<key>siteLink</key>
			<string>http://listen.radionomy.com/freshlaneradio</string>
			<key>siteLogoName</key>
			<string></string>
			<key>siteName</key>
			<string>Freshlane Radio</string>
		</dict>
		<key>Site8</key>
		<dict>
			<key>siteLink</key>
			<string>http://listen.radionomy.com/hazefmbeats</string>
			<key>siteLogoName</key>
			<string></string>
			<key>siteName</key>
			<string>Haze FM Beats</string>
		</dict>
		<key>Site9</key>
		<dict>
			<key>siteLink</key>
			<string>http://listen.radionomy.com/pamfm</string>
			<key>siteLogoName</key>
			<string></string>
			<key>siteName</key>
			<string>PAM FM</string>
		</dict>
		<key>categoryName</key>
		<string>Hip-Hop</string>
	</dict>
</dict>
</plist>
