<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Item0</key>
	<dict>
		<key>categoryName</key>
		<string>新闻快报</string>
		<key>Site0</key>
		<dict>
			<key>siteName</key>
			<string>海南新闻广播</string>
			<key>siteLink</key>
			<string>rtsp://media.strtv.cn/strch3</string>
			<key>siteLogoName</key>
			<string>海南新闻广播</string>
		</dict>
		<key>Site1</key>
		<dict>
			<key>siteName</key>
			<string>江门新闻综合台</string>
			<key>siteLink</key>
			<string>mms://116.254.197.80/fm1002</string>
			<key>siteLogoName</key>
			<string>江门新闻综合台</string>
		</dict>
		<key>Site2</key>
		<dict>
			<key>siteName</key>
			<string>白山电台新闻频道</string>
			<key>siteLink</key>
			<string>mms://live.ahradio.com.cn/xspsgb</string>
			<key>siteLogoName</key>
			<string>白山电台新闻频道</string>
		</dict>
		<key>Site3</key>
		<dict>
			<key>siteName</key>
			<string>宝岛新声广播</string>
			<key>siteLink</key>
			<string>mms://bcr.media.hinet.net/RA000066</string>
			<key>siteLogoName</key>
			<string>宝岛新声广播</string>
		</dict>
		<key>Site4</key>
		<dict>
			<key>siteName</key>
			<string>国际广播电台</string>
			<key>siteLink</key>
			<string>mms://wm.nhk.or.jp/rj/on_demand/wma/chinese.wma</string>
			<key>siteLogoName</key>
			<string>国际广播电台</string>
		</dict>
		<key>Site5</key>
		<dict>
			<key>siteName</key>
			<string>复兴广播电台</string>
			<key>siteLink</key>
			<string>mms://bcr.media.hinet.net/RA000024</string>
			<key>siteLogoName</key>
			<string>复兴广播电台</string>
		</dict>
		<key>Site6</key>
		<dict>
			<key>siteName</key>
			<string>连花好事935</string>
			<key>siteLink</key>
			<string>mms://bcr.media.hinet.net/RA000011</string>
			<key>siteLogoName</key>
			<string>连花好事935</string>
		</dict>
		<key>Site7</key>
		<dict>
			<key>siteName</key>
			<string>全国广播电台</string>
			<key>siteLink</key>
			<string>mms://bcr.media.hinet.net/RA000068</string>
			<key>siteLogoName</key>
			<string>全国广播电台</string>
		</dict>
		<key>Site8</key>
		<dict>
			<key>siteName</key>
			<string>NEWS98新闻网</string>
			<key>siteLink</key>
			<string>mms://bcr.media.hinet.net/RA000073</string>
			<key>siteLogoName</key>
			<string>NEWS98新闻网</string>
		</dict>
		<key>Site9</key>
		<dict>
			<key>siteName</key>
			<string>NHK国际广播电台</string>
			<key>siteLink</key>
			<string>mms://wm.nhk.or.jp/rj/on_demand/wma/chinese.wma</string>
			<key>siteLogoName</key>
			<string>NHK国际广播电台</string>
		</dict>
	</dict>
	<key>Item1</key>
	<dict>
		<key>Site0</key>
		<dict>
			<key>siteLink</key>
			<string>mms://live.ahradio.com.cn/xspsgb</string>
			<key>siteLogoName</key>
			<string>安徽小说评书广播</string>
			<key>siteName</key>
			<string>安徽小说评书广播</string>
		</dict>
		<key>Site1</key>
		<dict>
			<key>siteLink</key>
			<string>mms://61.138.99.17/shenghuo_live</string>
			<key>siteLogoName</key>
			<string>包头生活娱乐广播</string>
			<key>siteName</key>
			<string>包头生活娱乐广播</string>
		</dict>
		<key>Site2</key>
		<dict>
			<key>siteLink</key>
			<string>mms://alive.bjradio.com.cn/fm876</string>
			<key>siteLogoName</key>
			<string>北京电台文艺广播</string>
			<key>siteName</key>
			<string>北京电台文艺广播</string>
		</dict>
		<key>Site3</key>
		<dict>
			<key>siteLink</key>
			<string>mms://alive.bjradio.com.cn/fm974</string>
			<key>siteLogoName</key>
			<string>北京电台音乐广播</string>
			<key>siteName</key>
			<string>北京电台音乐广播</string>
		</dict>
		<key>Site4</key>
		<dict>
			<key>siteLink</key>
			<string>mms://real.rednet.cn/1061</string>
			<key>siteLogoName</key>
			<string>长沙音乐频道</string>
			<key>siteName</key>
			<string>长沙音乐频道</string>
		</dict>
		<key>Site5</key>
		<dict>
			<key>siteLink</key>
			<string>mms://219.131.159.150/czdt1031</string>
			<key>siteLogoName</key>
			<string>潮州电台戏曲之声</string>
			<key>siteName</key>
			<string>潮州电台戏曲之声</string>
		</dict>
		<key>Site6</key>
		<dict>
			<key>siteLink</key>
			<string>mms://rd.cfradio.cn/r3</string>
			<key>siteLogoName</key>
			<string>赤峰交通广播</string>
			<key>siteName</key>
			<string>赤峰交通广播</string>
		</dict>
		<key>Site7</key>
		<dict>
			<key>siteLink</key>
			<string>http://listen.radionomy.com/a-pop40-fm-web</string>
			<key>siteLogoName</key>
			<string>a-pop-40-fm</string>
			<key>siteName</key>
			<string>A POP 40FM</string>
		</dict>
		<key>Site8</key>
		<dict>
			<key>siteLink</key>
			<string>|mms://58.48.156.93/1058</string>
			<key>siteLogoName</key>
			<string>楚天广播音乐台</string>
			<key>siteName</key>
			<string>楚天广播音乐台</string>
		</dict>
		<key>Site9</key>
		<dict>
			<key>siteLink</key>
			<string>mms://av.runsky.com/wyradio</string>
			<key>siteLogoName</key>
			<string>大连电台文艺广播</string>
			<key>siteName</key>
			<string>大连电台文艺广播</string>
		</dict>
		<key>categoryName</key>
		<string>娱乐天地</string>
	</dict>
	<key>Item2</key>
	<dict>
		<key>Site0</key>
		<dict>
			<key>siteLink</key>
			<string>mms://sound.am1116.com/fm1008</string>
			<key>siteLogoName</key>
			<string>常熟电台交通音乐</string>
			<key>siteName</key>
			<string>常熟电台交通音乐</string>
		</dict>
		<key>Site1</key>
		<dict>
			<key>siteLink</key>
			<string>mms://sound.am1116.com/am927</string>
			<key>siteLogoName</key>
			<string>常熟电台经济服务</string>
			<key>siteName</key>
			<string>常熟电台经济服务</string>
		</dict>
		<key>Site2</key>
		<dict>
			<key>siteLink</key>
			<string>mms://av.runsky.com/991radio</string>
			<key>siteLogoName</key>
			<string>大连电台财富频道</string>
			<key>siteName</key>
			<string>大连电台财富频道</string>
		</dict>
		<key>Site3</key>
		<dict>
			<key>siteLink</key>
			<string>mms://av.runsky.com/cjradio</string>
			<key>siteLogoName</key>
			<string>大连电台经济广播</string>
			<key>siteName</key>
			<string>大连电台经济广播</string>
		</dict>
		<key>Site4</key>
		<dict>
			<key>siteLink</key>
			<string>mms://diantai.smgbb.cn/dycj</string>
			<key>siteLogoName</key>
			<string>第一财经</string>
			<key>siteName</key>
			<string>第一财经</string>
		</dict>
		<key>Site5</key>
		<dict>
			<key>siteLink</key>
			<string>mms://live.rgd.com.cn/974</string>
			<key>siteLogoName</key>
			<string>广东电台珠江经济</string>
			<key>siteName</key>
			<string>广东电台珠江经济</string>
		</dict>
		<key>Site6</key>
		<dict>
			<key>siteLink</key>
			<string>mms://222.216.110.227:6060/audio3</string>
			<key>siteLogoName</key>
			<string>广西电台经济广播</string>
			<key>siteName</key>
			<string>广西电台经济广播</string>
		</dict>
		<key>Site7</key>
		<dict>
			<key>siteLink</key>
			<string>mms://218.77.178.156/LIVECAM1</string>
			<key>siteLogoName</key>
			<string>海南经济广播</string>
			<key>siteName</key>
			<string>海南经济广播</string>
		</dict>
		<key>Site8</key>
		<dict>
			<key>siteLink</key>
			<string>mms://audio1.hebradio.com/live2</string>
			<key>siteLogoName</key>
			<string>河北电台经济广播</string>
			<key>siteName</key>
			<string>河北电台经济广播</string>
		</dict>
		<key>Site9</key>
		<dict>
			<key>siteLink</key>
			<string>http://listen.radionomy.com/bassfreq--radio</string>
			<key>siteLogoName</key>
			<string>bassfreq-radio</string>
			<key>siteName</key>
			<string>Bassfreq&apos; Radio</string>
		</dict>
		<key>categoryName</key>
		<string>财经频道</string>
	</dict>
	<key>Item3</key>
	<dict>
		<key>Site0</key>
		<dict>
			<key>siteLink</key>
			<string>mms://61.138.99.17/jiaotong_live</string>
			<key>siteLogoName</key>
			<string>包头交通文艺广播</string>
			<key>siteName</key>
			<string>包头交通文艺广播</string>
		</dict>
		<key>Site1</key>
		<dict>
			<key>siteLink</key>
			<string>mms://sound.am1116.com/fm1008</string>
			<key>siteLogoName</key>
			<string>常熟电台交通音乐</string>
			<key>siteName</key>
			<string>常熟电台交通音乐</string>
		</dict>
		<key>Site2</key>
		<dict>
			<key>siteLink</key>
			<string>mms://av.runsky.com/jtradio</string>
			<key>siteLogoName</key>
			<string>大连电台交通广播</string>
			<key>siteName</key>
			<string>大连电台交通广播</string>
		</dict>
		<key>Site3</key>
		<dict>
			<key>siteLink</key>
			<string>mms://222.216.110.227:6060/audio5</string>
			<key>siteLogoName</key>
			<string>广西电台交通广播</string>
			<key>siteName</key>
			<string>广西电台交通广播</string>
		</dict>
		<key>Site4</key>
		<dict>
			<key>siteLink</key>
			<string>mms://218.77.178.163/LIVECAM9</string>
			<key>siteLogoName</key>
			<string>海南交通广播</string>
			<key>siteName</key>
			<string>海南交通广播</string>
		</dict>
		<key>Site5</key>
		<dict>
			<key>siteLink</key>
			<string>mms://moive.0561news.com/hbgb2</string>
			<key>siteLogoName</key>
			<string>淮北交通广播</string>
			<key>siteName</key>
			<string>淮北交通广播</string>
		</dict>
		<key>Site6</key>
		<dict>
			<key>siteLink</key>
			<string>mms://219.138.69.126:8080/hsradio_xwt</string>
			<key>siteLogoName</key>
			<string>黄石交通经济频率</string>
			<key>siteName</key>
			<string>黄石交通经济频率</string>
		</dict>
		<key>Site7</key>
		<dict>
			<key>siteLink</key>
			<string>mms://media.jlradio.cn/fm1038</string>
			<key>siteLogoName</key>
			<string>吉林交通广播</string>
			<key>siteName</key>
			<string>吉林交通广播</string>
		</dict>
		<key>Site8</key>
		<dict>
			<key>siteLink</key>
			<string>mms://210.77.193.6/jingji</string>
			<key>siteLogoName</key>
			<string>济南广播经济频率</string>
			<key>siteName</key>
			<string>济南广播经济频率</string>
		</dict>
		<key>Site9</key>
		<dict>
			<key>siteLink</key>
			<string>http://listen.radionomy.com/pamfm</string>
			<key>siteLogoName</key>
			<string></string>
			<key>siteName</key>
			<string>PAM FM</string>
		</dict>
		<key>categoryName</key>
		<string>交通广播</string>
	</dict>
	<key>Item4</key>
	<dict>
		<key>Site0</key>
		<dict>
			<key>siteLink</key>
			<string>mms://media.justaiwan.com/16</string>
			<key>siteLogoName</key>
			<string>Classical古典乐</string>
			<key>siteName</key>
			<string>Classical古典乐</string>
		</dict>
		<key>Site1</key>
		<dict>
			<key>siteLink</key>
			<string>mms://media.justaiwan.com/30</string>
			<key>siteLogoName</key>
			<string>POP流行新曲(节庆音乐)</string>
			<key>siteName</key>
			<string>POP流行新曲(节庆音乐)</string>
		</dict>
		<key>Site2</key>
		<dict>
			<key>siteLink</key>
			<string>mms://alive.bjradio.com.cn/fm1025</string>
			<key>siteLogoName</key>
			<string>北京电台体育广播</string>
			<key>siteName</key>
			<string>北京电台体育广播</string>
		</dict>
		<key>Site3</key>
		<dict>
			<key>siteLink</key>
			<string>mms://alive.bjradio.com.cn/fm974</string>
			<key>siteLogoName</key>
			<string>北京电台音乐广播</string>
			<key>siteName</key>
			<string>北京电台音乐广播</string>
		</dict>
		<key>Site4</key>
		<dict>
			<key>siteLink</key>
			<string>mms://58.48.156.93/916</string>
			<key>siteLogoName</key>
			<string>楚天广播卫星台</string>
			<key>siteName</key>
			<string>楚天广播卫星台</string>
		</dict>
		<key>Site5</key>
		<dict>
			<key>siteLink</key>
			<string>mms://diantai.smgbb.cn/dg101</string>
			<key>siteLogoName</key>
			<string>动感101</string>
			<key>siteName</key>
			<string>动感101</string>
		</dict>
		<key>Site6</key>
		<dict>
			<key>siteLink</key>
			<string>mms://diantai.smgbb.cn/ds792</string>
			<key>siteLogoName</key>
			<string>都市792</string>
			<key>siteName</key>
			<string>都市792</string>
		</dict>
		<key>Site7</key>
		<dict>
			<key>siteLink</key>
			<string>mms://video.fjtv.net/dngb?ZHVob25n</string>
			<key>siteLogoName</key>
			<string>福建东南广播</string>
			<key>siteName</key>
			<string>福建东南广播</string>
		</dict>
		<key>Site8</key>
		<dict>
			<key>siteLink</key>
			<string>mms://219.142.120.27/chn</string>
			<key>siteLogoName</key>
			<string>国际在线</string>
			<key>siteName</key>
			<string>国际在线</string>
		</dict>
		<key>Site9</key>
		<dict>
			<key>siteLink</key>
			<string>http://listen.radionomy.com/pamfm</string>
			<key>siteLogoName</key>
			<string></string>
			<key>siteName</key>
			<string>PAM FM</string>
		</dict>
		<key>categoryName</key>
		<string>精彩推荐</string>
	</dict>
</dict>
</plist>
