<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>header</key>
		<string>基本信息设置</string>
		<key>footer</key>
		<string></string>
		<key>mems</key>
		<array>
			<dict>
				<key>img</key>
				<string>cellphone</string>
				<key>title</key>
				<string>手机号码</string>
				<key>acclz</key>
				<string>UIImageView</string>
				<key>acimg</key>
				<string>arrow_right</string>
				<key>sel</key>
				<string>onItemClick:</string>
				<key>pname</key>
				<string></string>
				<key>cellstyle</key>
				<string>value1</string>
				<key>detail</key>
				<string></string>
				<key>detailcolor</key>
				<string>777777</string>
			</dict>
			<dict>
				<key>sel</key>
				<string>onItemClick:</string>
				<key>detailcolor</key>
				<string>777777</string>
				<key>cellstyle</key>
				<string>value1</string>
				<key>img</key>
				<string>mailbox18</string>
				<key>title</key>
				<string>邮箱</string>
				<key>acclz</key>
				<string>UIImageView</string>
				<key>acimg</key>
				<string>arrow_right</string>
				<key>pname</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>header</key>
		<string></string>
		<key>footer</key>
		<string></string>
		<key>mems</key>
		<array>
			<dict>
				<key>cellstyle</key>
				<string>value1</string>
				<key>img</key>
				<string>city</string>
				<key>title</key>
				<string>所属市</string>
			</dict>
			<dict>
				<key>cellstyle</key>
				<string>value1</string>
				<key>img</key>
				<string>county</string>
				<key>title</key>
				<string>所属县</string>
			</dict>
			<dict>
				<key>cellstyle</key>
				<string>value1</string>
				<key>img</key>
				<string>town</string>
				<key>title</key>
				<string>所属乡镇</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>header</key>
		<string></string>
		<key>footer</key>
		<string></string>
		<key>mems</key>
		<array>
			<dict>
				<key>cellstyle</key>
				<string>value1</string>
				<key>img</key>
				<string>department</string>
				<key>title</key>
				<string>部门</string>
			</dict>
			<dict>
				<key>cellstyle</key>
				<string>value1</string>
				<key>img</key>
				<string>duties</string>
				<key>title</key>
				<string>职务</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>header</key>
		<string></string>
		<key>footer</key>
		<string></string>
		<key>mems</key>
		<array>
			<dict>
				<key>sel</key>
				<string>onItemClick:</string>
				<key>detailcolor</key>
				<string>777777</string>
				<key>cellstyle</key>
				<string>value1</string>
				<key>acimg</key>
				<string>arrow_right</string>
				<key>acclz</key>
				<string>UIImageView</string>
				<key>img</key>
				<string>password</string>
				<key>title</key>
				<string>修改密码</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
