<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>header</key>
		<string></string>
		<key>footer</key>
		<string></string>
		<key>mems</key>
		<array>
			<dict>
				<key>sel</key>
				<string>autologinChange:</string>
				<key>img</key>
				<string>system</string>
				<key>title</key>
				<string>系统自动登录</string>
				<key>acclz</key>
				<string>UISwitch</string>
				<key>cellstyle</key>
				<string>value1</string>
			</dict>
			<dict>
				<key>detail</key>
				<string>30天</string>
				<key>sel</key>
				<string>showPwdKeepDaysChooser:</string>
				<key>detailcolor</key>
				<string>555555</string>
				<key>cellstyle</key>
				<string>value1</string>
				<key>img</key>
				<string>password</string>
				<key>title</key>
				<string>密码保留天数</string>
				<key>acclz</key>
				<string>UIImageView</string>
				<key>acimg</key>
				<string>arrow_right</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>header</key>
		<string></string>
		<key>footer</key>
		<string></string>
		<key>mems</key>
		<array>
			<dict>
				<key>vc</key>
				<string>OfflineMapVC</string>
				<key>acimg</key>
				<string>arrow_right</string>
				<key>acclz</key>
				<string>UIImageView</string>
				<key>cellstyle</key>
				<string>value1</string>
				<key>img</key>
				<string>offlinemap</string>
				<key>title</key>
				<string>离线地图</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>header</key>
		<string></string>
		<key>footer</key>
		<string></string>
		<key>mems</key>
		<array>
			<dict>
				<key>vc</key>
				<string>UseBrochureVC</string>
				<key>acimg</key>
				<string>arrow_right</string>
				<key>acclz</key>
				<string>UIImageView</string>
				<key>cellstyle</key>
				<string>value1</string>
				<key>img</key>
				<string>brochure</string>
				<key>title</key>
				<string>使用手册</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>header</key>
		<string></string>
		<key>footer</key>
		<string></string>
		<key>mems</key>
		<array>
			<dict>
				<key>vc</key>
				<string>ContactListVC</string>
				<key>acimg</key>
				<string>arrow_right</string>
				<key>acclz</key>
				<string>UIImageView</string>
				<key>cellstyle</key>
				<string>value1</string>
				<key>img</key>
				<string>contacts</string>
				<key>title</key>
				<string>通讯录</string>
			</dict>
			<dict>
				<key>detailcolor</key>
				<string>555555</string>
				<key>detail</key>
				<string>未发现新版本</string>
				<key>sel</key>
				<string>updateVersion:</string>
				<key>acimg</key>
				<string>arrow_right</string>
				<key>acclz</key>
				<string>UIImageView</string>
				<key>cellstyle</key>
				<string>value1</string>
				<key>img</key>
				<string>version</string>
				<key>title</key>
				<string>版本更新</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
